body {
    background-color: rgb(59, 104, 64);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}

a {
    color: rgb(154, 5, 35);
}

.img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
}

.youtube {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;

}
